<!-- <%- console.log(JSON.stringify(dados))%> Imprime os dados no console do servidor como uma string JSON. -->
<!-- <%- console.log(JSON.stringify(req.session))%>  Imprime a sessão do usuário no console do servidor como JSON. -->
<center>
 <table border="1px"> <!--Cria uma tabela HTML com bordas de 1 pixel. -->
    <thead>
    <tr>
        <th>id</th>
        <th>id_users</th>
        <th>titulo</th>
        <th>conteudo</th>
        <th>data_criacao</th>
    </tr>
 </thead> <!--Cabeçalho da tabela (<thead>) com uma linha (<tr>) contendo 5 colunas (<th>), que são os títulos das colunas da tabela. -->
    <tbody>
         <% let i; for (i=0; i<dados.length; i++) {%> <!-- Um loop for que percorre todos os elementos do array dados. A variável i serve como índice do loop. -->
            <!-- <% if (dados [i].username==req.session.username) {%>  Condição para exibir somente os registros cujo username seja igual ao da sessão atual (usuário logado). Isso é uma tentativa de filtrar os dados para cada usuário   -->
            <tr>
                <!-- <% } %> Fecha a instrução if. -->
                <td><%= dados[i].id %></td>
                <td><%= dados[i].id_users %></td>
                <td><%= dados[i].titulo %></td>
                <td><%= dados[i].conteudo %></td>
                <td><%= dados[i].data_criacao %></td>
           </tr>    <!-- Renderiza as células da linha com os dados do elemento atual do array dados[i].     -->
        <% } %>
    </tbody>
    <tfoot>
        <tr><th colspan="3">
            <%- `Quantidade de registros ${i}` %>
        </th></tr>
    </tfoot>
</table>
</center>
<br>
<br><!-- Fecha a tabela e o centramento. As duas tags <br> criam espaços (quebras de linha) abaixo da tabela. -->

