<!-- <%- console.log(JSON.stringify(dados))%> Imprime os dados no console do servidor como uma string JSON. --> 
<!-- <%- console.log(JSON.stringify(req.session))%> Imprime a sessão do usuário no console do servidor como JSON. --> 
<center>
<<<<<<< HEAD
    <table>
        <thead></thead>
        <tr>
            <th>ID</th>
            <th> Username</th>
            <th>Senha</th>
        </tr>
        <tbody>
             <% let i; for (i=0; i<dados.length; i++) {%> <!--Início de um laço for em JavaScript (dentro de EJS), que percorre a lista dados. -->
                <!-- dados.length representa o número de objetos (ex: usuários). -->
                <!-- A variável i será usada para acessar cada item da lista. -->
                <% if (dados [i].username==req.session.username) {%> 
                    <tr style="background-color: rgb(225, 255, 2); color: white;"> <!-- Se for o usuário logado, a linha é renderizada com fundo amarelo e texto branco, para destacá-lo visualmente na tabela. -->
                        <%} else {%>
                <tr>
                    <% } %>
                    <th><%=dados[i].id%></th>
                    <th><%=dados[i].username%></th>
                   <th><%=dados[i].password%></th>  <!-- 
                    Renderiza as três células da linha com os dados do usuário: -->

                </tr> <!--  Cria uma linha de cabeçalho da tabela com três colunas: ID, Username e Senha. Esses são os rótulos fixos que descrevem os dados abaixo. -->
            <% } %>
        </tbody>
        <tfoot>
            <tr><td colspan="3">
                <%- `Quantidade de registros ${i}` %>
            </td></tr>
        </tfoot>
    </table>
    </center>
    <br>
    <br>
=======
<table>
    <thead></thead>
    <tr>
        <th>ID</th>
        <th> Username</th>
        <th>Senha</th>
        <th>Delete</th>
    </tr>
    <tbody>
        <% let i; for (i=0; i<dados.length; i++) {%>
            <% if (dados [i].username==req.session.username) {%>
                <tr style="background-color: rgb(25, 3, 135); color: white;">
                    <%} else {%>
            <tr>
                <% } %>
                <th><%=dados[i].id%></th>
                <th><%=dados[i].username%></th>
                <th><%=dados[i].password%></th> 
                <th><a href="/deleteC/<%= dados[i].id%>" onclick= "return confirm(' Tem certeza que deseja deletar este usuário? Esta ação não pode ser desfeita!')">Deletar</a></th>
                    
            </tr>      
        <% } %>
    </tbody>
    <tfoot>
        <tr><td colspan="3">
            <%- `Quantidade de registros ${i}` %>
        </td></tr>
    </tfoot>
</table>
</center>
<br>
<br>
>>>>>>> origin/maIN
